SMTP_HOST=smtp.example.com
SMTP_PORT=123
SMTP_USERNAME=email@example.com
SMTP_PASSWORD=IuseArchbtw&ILovePHP

# Your personal admin email where you want to receive emails
# The SMTP USERNAME is used as fall back
ADMIN_EMAIL=myemail@example.com
ADMIN_NAME=William Shah